{% extends 'partials/base.html' %}
{% block title %}Newsletter Edit Page{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row my-4">
    <div class="col-md-6 offset-md-3 p-3 bg-white">
        <h3>Edit Newsletter Subtitle</h3>
        <hr>
        <form method="post" action="{% url 'dashboard-newsletter_customize_edit' pk=newsletterdata.pk %}"
              enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-info" type="submit" value="Confirm">
        </form>
    </div>
</div>
{% endblock %}

