 <!-- Footer Section -->
    <footer class="section footer">
        <div class="footer-container container">
            <div class="footer-content">
                <a href="#" class="logo-content flex">
                    {% for nav in navbars %}
                    <i class='bx bx-coffee logo-icon'></i>
                    <span class="logo-text">{{nav.business_name}}</span>
                    {% endfor %}
                </a>

                <p class="content-description">We work together to bring a united workforce and team to all ensure our
                    customers happy and contented.<br> We as {{nav.business_name}} are always happy to be at your
                    service.</p>

                <div class="footer-location flex">
                    <i class='bx bx-map map-icon'></i>

                    <div class="location-text">
                        Kenya Kajiado Kitengela Acacia A12
                    </div>
                </div>
            </div>

            <div class="footer-linkContent">
                <ul class="footer-links">
                    <h4 class="footerLinks-title">Facility</h4>

                    <li><a href="#" class="footer-link">Private Room</a></li>
                    <li><a href="#" class="footer-link">Meeting Room</a></li>
                    <li><a href="#" class="footer-link">Event Room</a></li>
                    <li><a href="#" class="footer-link">Creative Studio</a></li>
                    <li><a href="#" class="footer-link">Custom Room</a></li>
                </ul>
                <ul class="footer-links">
                    <h4 class="footerLinks-title">Services</h4>

                    <li><a href="#" class="footer-link">Pedicure</a></li>
                    <li><a href="#" class="footer-link">Manicure</a></li>
                    <li><a href="#" class="footer-link">Hairdressing </a></li>
                    <li><a href="#" class="footer-link">Blow Drying </a>
                    <li><a href="#" class="footer-link">Massages </a></li>
                    <li><a href="#" class="footer-link">Waxing and hair removal </a></li>

                </ul>
                <ul class="footer-links">
                    <h4 class="footerLinks-title">Support</h4>

                    <li><a href="#" class="footer-link">About Us</a></li>
                    <li><a href="#" class="footer-link">FAQs</a></li>
                    <li><a href="#" class="footer-link">Private Policy</a></li>
                    <li><a href="#" class="footer-link">Help Us</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-copyRight">Copyright &#169;, Designed By TechFuture. Alukwe . All Rights Reservered
            <script>
            document.write(new Date().getFullYear())


            </script>
        </div>
    </footer>